.todolist {
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px;
  border: 1px solid gray;
  margin-bottom: 50px;
  border-radius: 15px;
}

input {
  background-color: #c8accf;
  text-align: left;
  outline: 0 !important;
  border: none;
  opacity: 0.90;
  border-width: 2px;
  border-color: rgb(104, 101, 101);
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border: 1px solid gray;
  padding-left: 5px;
}

.todolist .task {
  padding: 5px;
  margin: 5px;
}

.todolist .task:hover {
  background-color: #f1b7d4;
}

.todolist .task .delete {
  float: right;
  color: black;
  cursor: pointer;
  display: none;
}

.todolist .task:hover .delete {
  display: inline-block;
}

.todolist .task.done {
  text-decoration: line-through;
}

.todolist .todolist-footer {
  display: flex;
  margin-top: 10px;
}

.todolist .todolist-footer div {
  padding: 3px;
}

.todolist .todolist-footer button {
  margin: 5px;
  width: 100px;
  margin-top: 10px;
  margin-right: 25px;
  outline: none;
  border: none;
  border: 1px solid rgb(128, 123, 123);
  padding: 3px 15px 3px 15px;
}

.countTasks {
  margin-top: 10px;
  margin-right: 10px;
}

.todolist .todolist-footer .buttons button:hover {
  background-color: #c8accf;
}

.buttons button {
  border-radius: 5px;
}