.todolist {
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px;
  border: 1px solid gray;
  margin-bottom: 50px;
}

/* при наведении на таск мыши, таск окрашивается в другой цвет */
.todolist .task:hover {
  background-color: rgb(185, 158, 211);
}

.todolist .task .delete {
  /* крестики удаления раположила справа от каждого таска */
  float: right;
  color: red;
  /* при наведении на крестик курсор мыши меняется на палец */
  cursor: pointer;
  /* изначально крестики не видно, видно будет при hover на task */
  display: none;
}

/* если на конкретной таске будет hover, то крестик delete появится */
.todolist .task:hover .delete {
  display: inline-block;
}

/* если таску добавился класс: done
это значит, что чекбокс стал активным
значит перечёркиваем таску */
.todolist .task.done {
  text-decoration: line-through;
}
